*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
   }
   
   body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
   }

   .calculator__container{
       padding: 0 4rem 4rem 0;
       margin: 2rem;
       flex-wrap: wrap;
       
   }
   
   .calculator{
    flex: 0 0 95%;
   }
   .screen{
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(84, 74, 99);
    color: white;
    border-radius: 2rem 2rem 2rem 2rem;
    cursor: auto;
   }
   
   .buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
    border-radius: 2rem 2rem 2rem 2rem;
   }
   
   button{
    flex:0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
    transition: all 2s ease;
   }
   button:hover{
    background: blue;
   }


   .btn-yellow{
    background: rgb(114, 81, 53);
    color: white;
   }

   
   .btn-grey{
    background: rgb(165, 165, 165);
    border-radius: 2rem 2rem 2rem 2rem;
   }
   .btn,.btn-equal,.btn-clear{
    font-size: 4rem;
   }
   .btn-equal{
    background: green;
   }
   .btn-clear{
    background: red;
   }